<?xml version="1.0" encoding="UTF-8"?>
<plugin id="${id}">
  <!-- DITA to Markdown -->
  <transtype name="markdown" desc="Markdown"/>
  <transtype name="markdown_github" desc="GitHub-flavored Markdown"/>
  <transtype name="markdown_gitbook" desc="GitBook"/>
  <feature extension="dita.conductor.target.relative" file="conductor.xml"/>
  <template file="build_template.xml"/>
  <template file="xsl/dita2markdown_template.xsl"/>
  <!--template file="xsl/map2markdown-toc_template.xsl"/-->
  <template file="xsl/map2markdown-cover_template.xsl"/>  
  <!-- Markdown to DITA -->
  <feature extension="dita.conductor.lib.import" file="lib/markdown-${version}.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/pegdown-1.6.0.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/asm-analysis-5.0.3.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/asm-tree-5.0.3.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/asm-util-5.0.3.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/asm-5.0.3.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/parboiled-core-1.1.7.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/parboiled-java-1.1.7.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/snakeyaml-1.18.jar"/>
  <feature extension="dita.parser">
    <parser format="markdown" class="com.elovirta.dita.markdown.MarkdownReader"/>
    <parser format="md" class="com.elovirta.dita.markdown.MarkdownReader"/>
  </feature>
</plugin>