<?xml version="1.0" encoding="UTF-8"?>
<plugin id="${id}">
  <feature extension="dita.conductor.lib.import" file="markdown-${version}.jar"/>
  <feature extension="dita.conductor.lib.import" file="pegdown-1.4.2.jar"/>
  <feature extension="dita.conductor.lib.import" file="asm-analysis-4.1.jar"/>
  <feature extension="dita.conductor.lib.import" file="asm-tree-4.1.jar"/>
  <feature extension="dita.conductor.lib.import" file="asm-util-4.1.jar"/>
  <feature extension="dita.conductor.lib.import" file="asm-4.1.jar"/>
  <feature extension="dita.conductor.lib.import" file="parboiled-core-1.1.6.jar"/>
  <feature extension="dita.conductor.lib.import" file="parboiled-java-1.1.6.jar"/>
  <feature extension="dita.parser">
    <parser format="markdown" class="com.elovirta.dita.markdown.MarkdownReader"/>
  </feature>
</plugin>